!!!
%html
  %head
    %title Bikebotser
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Bootstrap
    %link{:href => "assets/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / styles
    %link{:href => "assets/css/styles.css", :rel => "stylesheet"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body.login-bg
    .header
      .container
        .row
          .col-md-12
            / Logo
            .logo
              %h1
                %a{:href => "index.html"} Bikebotser
    .page-content.container
      .row
        .col-md-4.col-md-offset-4
          .login-wrapper
            .box
              .content-wrap
                %h6 Sign In
                %input.form-control{:placeholder => "Decaux Token", :type => "text"}/
                .action
                  %a.btn.btn-primary.signup{:href => "index.html"} Login
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://code.jquery.com/jquery.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "assets/bootstrap/js/bootstrap.min.js"}
    %script{:src => "assets/js/custom.js"}
